/*Tipos de Display: none ,inline ,block ,inline-block*/


[class^="box"] {
    background-color: palegreen;
}

/*.box-0,.box-1,.box-2,.box-3,.box-4,.box-5,.box-6 {
    background-color: palegreen; 
} equivalente al anterior*/

.box0 {
    display: none;
}

.box3, 
.box4, 
.box3 p, 
.box4 p {
    display: inline-block;
}


.box5, /* selecciona el div box clase box 5 */
.box6, /* selecciona el div box clase box 6 */
.box5 p, /* selecciona el párrafo que está en el div con clase box 5 */
.box6 p /* selecciona el párrafo que está en el div con clase box 6 */{
    display: inline;
}

/*Centrar horizontalmemte (eje X)*/

.x-centered {
    background-color: teal;
    height: 50px;
    width: 25%;


    margin: auto; /* para centar*/

}