/*Estilos generales*/
*{
    box-sizing: border-box;
}

.container{
    border: 2px solid grey;
    padding: 10px;

}

/*Header*/
header{
    margin-bottom: 20px;
}

.top-banner{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*position: relative;*/
}

.top-banner form{
    /*position: absolute;
    right: 10px;
    top: 50% ;
    margin-top: -17px; /*sacamos esta medida através del inspector */
}

/*Aside*/
.news > a, .news span{
    display: block;
}

aside{
    float: left;
    width: 25%;
}

/*Conetnido central*/
section{
    float: right;
    width: 73%;
}

.main-content{
    float: left;
    width: 75%;
}

.main-content img{
    float: left;
    margin-right: 20px;
}

.side-content{
    float: right;
    width: 24%;
}

.clear{
    clear: both; /*es para limpiar todos los flotantes*/
}

/*Footer*/
footer{
    margin-top: 20px;
}

footer span{
    float: right;
}


