$font-sizes: (
    "small": 0.5rem,
    "initial": 0.875rem,
    "medium": 1rem,
    "large": 1.5rem,
    "x-large": 2rem,
    "xxx-large": 5rem,
);

$rubik-font-weights: (
    "Light": 300, 
    "Regular": 400, 
    "Medium": 500, 
    "SemiBold": 600, 
    "Bold": 700, 
    "ExtraBold": 800, 
    "Black": 900, 
);

$titillium-font-weights: (
    "ExtraLight": 200, 
    "Light": 300, 
    "Regular": 400, 
    "SemiBold": 600, 
    "Bold": 700, 
    "Black": 900, 
);

$rainbow:($purple, $cyan, $green, $yellow , $orange);
$header-sizes:(
    "h1":3.5rem,
    "h2":2.25rem,
    "h3":1.5rem,
    "h4":1.1rem,
    "h5":0.9rem,
    "h6":0.7rem,
);