@import"./reset";
@import"./variables";
@import"./maps";
@import"./functions";
@import"./mixins";

// while loop
$headers:"";
$start:1;
$limit:6;

@while $start <= $limit{
    $headers: $headers + h#{$start} + ", ";
    $start: $start + 1;
}
#{$headers}{
    font-family: font-family(Titillium);
}

body{
    &.light{
        @include theme(true);
    } // include es para llamar a un mixin
    @include flexCenter(end);
    background-color: $green;
    width: $full-width;
    //height:$full-height;
    color: $dark;
    .main{ // esto es para el div.
        width: 80%;
        //margin: 2em auto;
        border: 1px solid $dark;
        border-radius: .3rem;
        
        &-header{ // concatenamos main con main-header
            // pertenece al h1
            font-size: map-get($font-sizes,xxx-large);
            font-family: font-family(Titillium);
            transition: color .3s ease-in-out ;
            font-weight: titillium-weight("Black");
            &:hover{
                color:$orange;
            }
            
            
        }
        p{
            font-family: font-family(Rubik);
            color: $fantasy;
            font-weight: bold;
            font-size: 1.5rem;
            
            @for $i from 1 through length($rainbow) {
                &:nth-child(#{$i}) {
                    background-color: nth($rainbow, $i);
                }
            }
            // @for $i from -(length($rainbow)) through -1 {
            //     &:nth-child(#{-$i}) {
            //         background-color: nth($rainbow, $i);
            //     }
            // } // para invertir el orden.
        }
        .message{ //para los dos divs.
            padding: .8em 1.5em;
            border-radius: .7rem;
            width: 70%;
            margin: 1em auto;
        }
        .message-info{
            @extend .message; // se incluye lo que contiene message sin escribirlo.
            color: darken($blue , 25%); // darken oscurece la letra %
            background-color: lighten($blue , 10%);
        }
        .message-danger{
            @extend .message;
            color: darken($red , 25%);
            background-color: lighten($red , 10%);
        }
        @each $header , $value in $header-sizes {
            #{$header}{
                font-size: #{$value};
            }
        }
    }
}
